<div class="smartcup-outer">
  <div id="thank-you-outside">

    <!-- Start Logo Section -->
    <div class="smartcup-logo"><img src="../assets/images/smartcup/smartcup-logo.jpg" alt="smart cup" /></div>

    <!-- Start header Thank you Section -->
    <h2>Thank you for your Order</h2>
    <h6>Dear <strong>User Name</strong> you will reveive a confirmation email a</h6>
    <h4>some@email.com</h4>

    <!-- Start coupon information Section -->
    <div class="coupon-code-purchase">
      <h3>Enjoy-10% Additional Discount On Your Next Cool Purchase<br> with THe Exclusive Coupon Code :</h3>

      <div class="copy-code">
        GIFT10 <a class="copytext" href=""><img src="../assets/images/smartcup/copy-icon.png" alt="Smart cup" /></a>
      </div>

      <span class="visit-store">Click on the link below to Visit Our Store : <br>
        <a href="">SOMELINK.COM</a>
      </span>

    </div>

    <!-- Start discount information Section -->
    <div class="discount-box-code">
      <div class="discount-percent">
        <span class="loop-text pull-left">10</span> <span class="percent-tag pull-right">%<br><b>OFF</b></span>
      </div>
      <div class="share-line-now">
        <p>This Coupon Code is Valid Multiple Times and Can be Shared Amongst Friends and Family.</p>
        <a href="">Share your Love NOW!</a>
      </div>

    </div>
    <!-- Start Thank information Section -->
    <div class="tanku-bottom">
      <p>Your purchases will appear as <a href="http://somewebsite.com">"Somewebsite.com" </a> on your credit card
        statement.</p>
      <p>For any query. our customer team can be contacted via email at <a
          href="mailto:SOME@EMAIL.COM">SOME@EMAIL.COM</a> </p>
    </div>
  </div>

  <!-- Start Footer information Section -->
  <div class="footer-bg"><img src="../assets/images/smartcup/footer-bg.jpg" alt="Smart cup" /></div>
  <div id="smartcup-footer">
    <div class="container">
      <div class="col-md-12 col-xs-12">
        <p>© 2019 All Rights Reserved.</p>
      </div>
    </div>
  </div>

</div>